body {
  cursor: url("./assets/Cursor_1.png"), auto;
}

body.loading-cursor {
  cursor: url("./assets/Cursor_12.png"), auto !important;
}

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
  background: rgba(0, 25, 0);
  color: limegreen;
  text-shadow: 0 0 8px rgba(0, 255, 0, 0.8);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

section:first-child {
  padding-top: 10ch;
}

section:nth-child(3) {
  padding-bottom: 10ch;
}

button {
  border: 1px dashed limegreen;
  outline: none;
  cursor: url('./assets/Cursor_15.png'), auto;
}

button#cycle {
  padding: 1ch 3ch;
  border: 0;
  border-left: 1px dashed limegreen;
}

button#toggle {
  width: 4ch;
  height: 4ch;
  margin-right: 1ch;
}

button:focus {
  border-style: dotted;
}

#volume {
  margin-right: 1ch;
}

#animation {
  min-height: 60ch;
  display: flex;
  align-items: center;
}

.player {
  border: 1px solid limegreen;
  width: 100%;
}

.flex {
  display: flex;
}

.player__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1ch;
}

.player__box:not(:last-child) {
  border-bottom: 1px solid limegreen;
}

.player__box--small {
  padding: 0ch;
  padding-left: 1ch;
}

@media (max-width: 768px) {
  section:first-child > pre{
    font-size: 10px;
  }

  #animation {
    font-size: 10px;
  }

  section:last-child {
    padding: 0;
  }

  #toggle {
    font-size: 16px;
  }

  .player {
    position: fixed;
    bottom: 0;
  }
}

@media (max-width: 420px) {
  section:first-child > pre{
    font-size: 9px;
  }

  #animation {
    font-size: 9px;
  }

  #toggle {
    font-size: 20px;
  }

  .player__box:not(.player__box--small) {
    display: block;
  }

  #volume {
    margin-top: 2ch;
  }

}