* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: monospace;
  background: black;
  color: limegreen;
  text-shadow: 0 0 8px rgba(0, 255, 0, 0.8);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
}

section:first-child {
  padding-top: 10ch;
}

section:nth-child(2) {
  flex-grow: 1;
}

section:nth-child(3) {
  padding-bottom: 10ch;
}

button {
  border: 1px dashed limegreen;
  outline: none;
  cursor: pointer;
}
button#cycle {
  padding: 1ch 3ch;
  border: 0;
  border-left: 1px dashed limegreen;
}

button#toggle {
  width: 4ch;
  height: 4ch;
  margin-right: 1ch;
}

button:focus {
  border-style: dotted;
}

#volume {
  margin-right: 1ch;
}

#animation {
  min-height: 40ch;
}

.player {
  border: 1px solid limegreen;
  width: 100%;
}

.flex {
  display: flex;
}

.player__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1ch;
}

.player__box:not(:last-child) {
  border-bottom: 1px solid limegreen;
}

.player__box--small {
  padding: 0ch;
  padding-left: 1ch;
}
